body{
    background-color: bisque;
}
.container{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(6,1fr);
    height:390px;
    width:100%;
    border:2px solid black;
}
.row1{
  /*  grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row:1/2;
    grid-column:1/13;
    background-color: black;
    color:azure;
    height: 70px;
    border:1px dotted red 
}
.row2{
    grid-row:2/3;
    grid-column:1/13;
    background-color:black;
    color:azure;
    height:50px;
    border:1px dotted red;
    display: flex;
    justify-content: space-around;
    text-align:center ;
}
.row3{
    height:300px ;
}

.row4{
    grid-column:1/13;
    grid-row:4/5;
    height:400px;
    background-color: rgb(216, 172, 216);
    border: 2px solid cyan;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row41,.row42,.row43,.row44{
    height: 400px;
    width: 300px;
    border: 2px solid red;
    
}
.row41{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 10px;
}
.row411,.row412,.row413,.row414{
border: 1px solid yellowgreen;
padding: 20px;
}
